@charset "UTF-8";

body{
    background-color: white;
}

h1 {
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
}

h2 {
    color: black;
    font-size: 30px;
}

p {
    font-size: 20px;
}