    @charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

@font-face {
    font-family: Arcade;
    src: url(fontes/arcade.TTF) format('truetype')
}

@font-face {
    font-family: Mario;
    src: url(fontes/mario.ttf) format('truetype')
}

body{
    background-image: url(Imagens/pixbay.jpg);
}

main {
    background-color: blanchedalmond;
    box-shadow: 5px 5px 15px rgba(61, 55, 49, 0.604);
    border-radius: 10px;
    max-width: 1000px;
    min-width: 300px;
    padding: 10px;
    margin: auto;
}

#logo {
    text-align: center;
}

h1 {
    
    color: #010440;
    font-family:'Mario', Times, serif;
    font-size: 35px;
    text-align: center;
    
}

h2 {
    background-image: linear-gradient(to right, #B880BF, blanchedalmond);
    color: black;
    font-family:'Teko', Times, serif;
    font-size: 35px;
}

p {
    color: black;
    font-family:'Teko', Times, serif;
    font-size: 25px;
}

li {
    color: black;
    font-family:'Teko', Times, serif;
    font-size: 25px;
}

#scrum {
    font-family:'Teko', Times, serif;
    background-image: linear-gradient(to right, #D9564A, blanchedalmond);
    font-size: 25px;
}

#qualidadeSoftware {
    font-family:'Teko', Times, serif;
    background-image: linear-gradient(to right, #D9AA52, blanchedalmond);
    font-size: 25px;
}

#pdf {
    font-family:'Teko', Times, serif;
    background-image: linear-gradient(to right, #D9564A, blanchedalmond);
    font-size: 25px;
}
